body {
  background-color: #444;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(11, 24, 120);
  padding: 10px 20px;
  align-items: center;
}
.nav h2{
  font-weight: bold;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav_menu a {
  display: flex;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 6px;

}