body{
  background-color: #444;
  color: white;
}

h1{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}